{% extends 'layout.html' %}

{% block maincontent %}
    <div class="homepage">
        <div class="aboutme" style="flex:1">
            <div class="selfphotobox">
                <img src="../static/main/images/IMG_9377.JPG"
                    alt="Picture of me"></div>
            <div class="aboutbox">
                <p>
                <h1>Pavel Shevchenko</h1> is a student in computer science at Michigan State University. Born in
                Lansing, Michigan to immigrant parents, he has spent a majority of his life in
                the East Lansing/Okemos area with a few months spent in Russia and Ukraine at a young age.
                He enjoys spending time doing outdoor activities such as longboarding, rock climbing, and hiking as
                well as playing and refereeing soccer. On top of this, Pavel has been playing the violin since
                fifth grade.
                <br><br>
                Pavel is also the President of Sigma Chi at Michigan State University (MSU). As one of the founding
                fathers of the Gamma Psi chapter, he is in the process of helping Sigma Chi reestablish their
                presence at MSU and get back into their house. Throughout this time he has learned valuable skills
                and has made lifelong brothers.
                </p>
            </div>
        </div>
        <div class="fact">
            <p>
            <h1>
                A fun fact about me:
            </h1>
            <h4>
                I can speak Russian
            </h4>
            </p>
        </div>
    </div>
 {% endblock %}