body {
    margin: 0;
}


.headerwrapper{
    width: 100vw;
    height: 10vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.headerbox {

}

.headerimg {
    position: relative;
    bottom: 300px;
    width: 100%;
    height: 100%;
}

